.rating-stars,
.rating-stars-noclick {
    unicode-bidi: bidi-override;
    direction: rtl;
    font-size: 200%;
}
.rating-stars > span,
.rating-stars-noclick {
    display: inline-block;
    position: relative;
    width: 1.1em;
    color: orange;
}
.rating-stars > span:hover:before,
.rating-stars > span:hover ~ span:before {
    content: "\2605";
    position: absolute;
    color: #0094ff;
}
.rating-star {
}
.rating-date {
    font-size: 100%;
}

.film-title {
    font-size: 125%;
}