.rating-stars,
.rating-stars-noclick {
    unicode-bidi: bidi-override;
    direction: rtl;
    font-size: 150%;
}
.rating-stars > span,
.rating-stars-noclick {
    display: inline-block;
    position: relative;
    color: orange;
}
.rating-stars > span:hover:before,
.rating-stars > span:hover ~ span:before {
    content: "\2605";
    position: absolute;
    color: #0094ff;
}
.rating-stars > score {
    font-weight: bold;
    color: orange;
}
.rating-stars > score > of-possible  {
    font-size: 75%;
    font-weight: lighter;
    color: grey;
}
.rating-star {
    font-size: 125%;
}
.rating-date {
    font-size: 100%;
}

.rating-background {
    background-image: url("/image/gold_circle.png");
}

.film-line {
    font-size: 125%;
}
.film-line > .film-title {
    font-size: 125%;
    font-weight: bold;
}

poster {
    float: left;
    padding: 5px;
    border-radius: 3px;
}

detail {
    float: left;
    vertical-align: middle;
    padding: 15px;
}

.checkmark-off {
    font-weight: bold;
    color: grey;    
}

.checkmark-on {
    font-weight: bold;
    color: #10b33c;    
}

.film-filmlists {
    float: left;
    padding-right: 15px;
}

.streams {
    float: left;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.stream {
    float: left;
    padding-right: 10px;
}

.stream-icon {
    background-image: url("Icons.png");
    background-color: transparent;
    border-radius: 4px;
    height: 33px;
    width: 35px;
}

.icon-Netflix { background-position: -580px -53px; }
.icon-Amazon { background-position: -445px -10px; }
.icon-xfinity { background-position: -490px -182px; }
.icon-Hulu { background-position: -445px -96px; }
.icon-YouTube { background-position: -625px -10px; }
.icon-HBO { background-position: -625px -96px; }

.rating-detail {
    position: fixed;
    margin-right:auto;
    margin-left:auto;
    border-radius: 5px;
    top: 30%;
    width: 90%;
    left: 5%;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.85);
    box-shadow: 10px 10px 5px grey;
}

@media (min-width:768px) {
    .rating-detail {
        width: 70%;
        left: 15%;
    }
}

@media (min-width:992px) {
    .rating-detail {
        width: 60%;
        left: 20%;
    }
}

@media (min-width:1200px) {
    .rating-detail {
        width: 46%;
        left: 27%;
    }
}