.page-header-text {
    margin-top: 10px;
    margin-bottom: 20px;
}

.footer {
    border-top: 1px solid;
    /* border-top-color is in the color area of this file */
}

.rating-stars,
.rating-stars-noclick {
    unicode-bidi: bidi-override;
    font-size: 150%;
    white-space: nowrap !important;  /* like the class "text-nowrap" */
}
.rating-stars > span,
.rating-stars-noclick {
    display: inline-block;
    position: relative;
    /* color is in the colors area of this file */
}
.rating-stars > span:hover:before,
.rating-stars > span:hover ~ span:before {
    /* color is in the colors area of this file */
}
.rating-stars > score,
score.rating-history {
    font-weight: bold;
    /* color is in the colors area of this file */
}
.rating-stars > score > of-possible,
score.rating-history {
    font-size: 75%;
    font-weight: lighter;
    /* color is in the colors area of this file */
}

.rating-watched {
    font-size: .6em;
}

.rating-history {
    line-height: .75;
}

.viewing-history {
    line-height: 1;
}

.rating-history.btn-group {
    width: 100%;
    vertical-align: top;
    horiz-align: left;
}

.rating-history,
.rating-history:disabled,
.btn-rating-history,
.btn-group > .btn-rating-history:not(:first-child) {
    border: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    /* color is in the colors area of this file */
}

.btn-rating-history:not(:disabled):not(.disabled):focus,
.btn-rating-history:not(:disabled):not(.disabled):hover {
    border: none;
    box-shadow: none;
    /* color is in the colors area of this file */
}

.btn-edit::before { box-sizing: unset; }

.edit-rating-date {
    width: 100px;
    max-width: 100px;
}

.film-line {
    font-size: 125%;
}
.film-line > .film-title {
    font-size: 115%;
    font-weight: bold;
}

.tv-episode-title {
    font-size: 105%;
    font-weight: bold;
}
.tv-season, 
.tv-episodenum {
}

poster {
    margin: 4px;
    border-radius: 3px;
    min-width: 150px;
    display: inline-flex;
}

poster > div > a {
    width: 150px;
    display: inline-block;
    border-radius: .3rem;
}

poster.watchit-normal > div > a {
    margin-top: 3.75rem;
}

poster.watchit-overlay > div > a {
    background-size: cover;
    background-position: center;
    min-height: 221px;
}

poster.watchit-normal > div > a > img {
    width: 150px;
    object-fit: cover;
    object-position: center;
    border-radius: .3rem;
}

watchit-btn-container > div > div {
    padding-left: .25rem !important;
    padding-right: .25rem !important;
    border-radius: .3rem;
    height: fit-content;
    /* color is in the colors area of this file */
}

watchit-btn-container.watchit-normal > div {
    justify-content: center !important;
    margin: .25rem !important;
}

watchit-btn-container.watchit-overlay > div > div {
    margin-top: -1.7rem !important;
    margin-left: .25rem !important;
}

.img-episode {
    max-height: 85px;
    border-radius: 25%;
}

episodeListPoster {
    float: left;
    padding: 2px;
}

episodeListPoster > img {
    min-height: 52px;
}

detail-episodeNumber {
    float: left;
    font-size: 2em;
    height: 100%;
    margin-left: 5px;
    margin-right: 5px;
    vertical-align: middle;
}

.thirdparty-bar {
    position: relative;
    text-align: left;
}

.thirdparty-bar > .source-logo-1,
.thirdparty-bar > .source-logo-2 {
    display: inline-block;
}

.thirdparty-bar > .source-logo-1 > a > imdbScore,
.thirdparty-bar > .source-logo-1 > a > tmdbScore {
    position: absolute;
    top: 1px;
    left: 12px;
    /* color is in the colors area of this file */
}

.thirdparty-bar > .source-logo-2 > a > imdbScore,
.thirdparty-bar > .source-logo-2 > a > tmdbScore {
    position: absolute;
    top: 1px;
    left: 85px;
    /* color is in the colors area of this file */
}

.thirdparty-bar > a:link {
    text-decoration: none;
}

.film-filmlists {
    float: left;
    padding-right: 15px;
    padding-bottom: .25rem;
}

.streams {
    float: left;
    padding-left: 5px;
    padding-right: 10px;
}

.stream {
    float: left;
    padding-right: 10px;
    padding-bottom: 10px;
}

.stream-icon {
    background-image: url("Icons.png");
    /* background-color is in the colors area of this file */
    border-radius: 4px;
    height: 33px;
    width: 35px;
}

.icon-Netflix { background-position: -580px -53px; }
.icon-Amazon { background-position: -445px -10px; }
.icon-xfinity { background-position: -490px -182px; }
.icon-Hulu { background-position: -445px -96px; }
.icon-YouTube { background-position: -625px -10px; }
.icon-HBO { background-position: -625px -96px; }

.userlist-film {
    min-height: 231px;
    width: 160px;
    /* background-color is in the colors area of this file */
    border-style: outset;
    border-width: thin;
    border-radius: 3%;
    /* border-color is in the colors area of this file */
    margin-bottom: 15px;
}

.userlist-film-episode {
    min-height: auto;
    border-radius: 25%;
}

.film-dropdown-content {
    display: none;
    position: absolute;
    top: 0;
    z-index: 1;
    width: 334px;
    min-height: 231px;
    /* background-color is in the colors area of this file */
    border-style: outset;
    border-width: thin;
    /* border-color is in the colors area of this file */
    margin-bottom: 5px;
    padding-bottom: 3px;
    padding-left: 5px;
}

.detail-right {
    left: 170px;
    border-left-style: none;
    border-right-style: outset;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 3%;
    border-bottom-right-radius: 3%;
}

.detail-left {
    left: -314px;
    border-left-style: outset;
    border-right-style: none;
    border-top-left-radius: 3%;
    border-bottom-left-radius: 3%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.search-status {
    font-weight: bold;
}

.filmlist-checkbox-inline > label {
    margin-bottom: 0px;
    margin-top: 5px;
}

/* The container <div> - needed to position the dropdown content */
.rs-dropdown-checklist {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.rs-dropdown-checklist-content {
    display: none;
    position: absolute;
    min-width: 160px;
    top: 38px;
    z-index: 1;
    /* background-color is in the color area in this file */
    /* box-shadow is in the color area in this file */
}

/* Links inside the dropdown */
.rs-dropdown-checklist-content a {
    text-decoration: none;
    display: block;
    white-space: nowrap;
    padding: 3px 20px 3px 20px;
    /* color is in the color area in this file */
}

/* Show the dropdown menu on hover */
.rs-dropdown-checklist:hover .rs-dropdown-checklist-content {
    display: block;
}

/* Any line inside the dropdown other than <a> */
.rs-dropdown-checklist-content checklist-line {
    white-space: nowrap;
    padding-left: 20px;
    padding-right: 20px;
}

checklist-line input[type="radio"] {
    margin-right: 3px;
}
#header-search-suggestion {
    position: absolute;
    top: 38px;
    width: 100%;
    padding: 1px 5px 1px 5px;
    border: 1px;
    border-style: solid;
    border-top: none;
    border-radius: 4px 4px 10px 10px;
    /* border-color is in the colors area in this file */
    z-index: 10;
    /* background-color is in the colors area in this file */
}

#header-search-suggestion a {
    text-decoration: none;
    /* color is in the colors area in this file */
}

.search-suggestion-item {
    padding-top: .15rem;
    min-height: 64px;
    margin: 0px;
    border-top: 1px solid;
    /* border-color is in the colors area in this file */
}

.suggestion-poster {
    width: 40px;
    height: auto;
    border: 1px solid;
}

.suggestion-rating {
    /* color is in the colors area in this file */
    line-height: 1.1;
}

.suggestion-rating > .rating-star {
    font-size: inherit;
}

.search-suggestion-label {
    text-align: center;
}

.rs-filmlist-sort {
    text-align: right;
    width: 100%;
}

.rs-filmlist-sort img {
    height: 25px;
}

.rs-navbar {
    border-radius: 4px;
    border: 1px solid; 
    /* border-color is in the color area in this file */
}

detail-film {
}

detail-episode {
    margin-bottom: 7px;
    border: 1px solid;
    /* border-color is the color area in this file */
    /* box-shadow is the color area in this file */
    /* color is the color area in this file */
}

a, a:any-link {
    text-decoration: none;
}

detail-episode-rating {
    padding-left: 5px;
    /* color is the color area in this file */
}

.card-login > .card-header {
    text-align:center;
    /* color is in the colors area of this file */
}

.card-login > .card-header a {
  font-weight: bold;
  font-size: medium;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.card-login > .card-header a.active, .card-login > .card-header a.active {
  font-size: larger;
}

.btn-login, .btn-register {
  text-transform: uppercase;
}

.card-login > .card-header hr {
  margin-top: 10px;
  margin-bottom: 0px;
  clear: both;
  border: 0;
  height: 1px;
  /* background-image is in the colors area in this file */
}

.alert-placeholder {
    position: fixed;
    top: 8px;
    left: 50%;
    width: 60%;
    margin-left: -30%;
    z-index: 5;
}

/* Small */
@media (min-width:576px) {
}

/* Medium */
@media (min-width:768px) {
}

/* Large */
@media (min-width:992px) {
}

/* X-Large */
@media (min-width:1200px) {
}

/* Colors overriding bootstrap */
.border { border-color: var(--border) !important; }
.btn-danger { background-color: var(--danger); color: var(--fg-danger); border-color: var(--border-danger); }
.btn.focus, .btn:focus { box-shadow: 0 0 0 .2rem var(--shadow-primary); }
.btn-link, .btn-link:hover { color: var(--primary); }
.btn-primary { background-color: var(--primary); color: var(--fg-primary); border-color: var(--border-primary); }
.btn-primary:hover, .btn-primary:active, .btn-primary:focus, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle, .show > .btn-primary.dropdown-toggle:focus { background-color: var(--primary-alt); color: var(--fg-primary-alt); border-color: var(--border-primary-alt); box-shadow: 0 0 0 .2rem var(--shadow-primary); }
.card { border-color: var(--border); }
.card, .card-header { background-color: var(--bg-surface); color: var(--fg); }
.close, .close:hover { color: var(--fg-surface); text-shadow: 0 1px 0 var(--border-surface-input); }
.dropdown-item:hover, .dropdown-item:focus { background-color: var(--bg-input-text-active); color: var(--fg-surface) }
.dropdown-menu { background-color: var(--bg-input-text); color: var(--fg-surface-muted); }
.dropdown-menu li a:hover { background-color: var(--bg-input-text-active); color: var(--fg-surface); }
.form-control { background-color: var(--bg-input-text); color: var(--fg-surface); border-color: var(--border-surface-input); }
.form-control.focus, .form-control:focus { background-color: var(--bg-input-text); color: var(--fg-input-text); border-color: var(--primary); box-shadow: 0 0 0 .2rem var(--shadow-primary); }
.input-group-text { background-color: var(--bg-surface); color: var(--fg-surface-muted); border-color: var(--border-surface-input); }
.input-group-text:hover { color: var(--primary); }
.modal-body input { background-color: var(--bg-input-text); color: var(--fg-input-text); border-color: var(--border-surface-input); }
input[type="checkbox"] { background: var(--primary) }
.modal-content { background-color: var(--bg-surface); color: var(--fg-surface); border-color: var(--border-surface); }
.modal-header, .modal-footer { border-color: var(--border-surface); }
.navbar-toggler-icon { border: 1px solid var(--border-surface); border-radius: 3px; }
.navbar-toggler-icon { background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"); }
.rs-navbar { background-color: var(--bg-surface); color: var(--fg-surface-muted); border-color: var(--border-surface); }
.rs-text-muted { color: var(--fg-surface-muted); }
.rs-dropdown-checklist-content { background-color: var(--bg-input-text); color: var(--fg-surface-muted); box-shadow: 0px 8px 16px 0px var(--shadow); }
.rs-dropdown-checklist-content a:hover, .pagination-options li:hover { background-color: var(--bg-input-text-active); color: var(--fg-surface) }

/* Colors overriding HTML */
a:any-link { color: inherit; }
a:hover { color: var(--primary); }
body { background-color: var(--bg); color: var(--fg); }
select { background-color: var(--bg-input-text); color: var(--fg-surface-muted); border-color: var(--border-surface); }

/* Colors for custom classes and elements */
#header-search-suggestion { border-color: var(--border); background-color: var(--bg-input-text); }
#header-search-suggestion a { color: var(--fg-surface-muted); }
#header-search-suggestion a.suggestion-selected > div { background-color: var(--bg-input-text-active); color: var(--fg-surface) }
.btn-edit { background-color: transparent; color: var(--fg-surface-muted); }
.btn-edit:hover, .btn-edit:active, .btn-edit:focus, .btn-edit:not(:disabled):not(.disabled):active, .show > .btn-edit.dropdown-toggle, .show > .btn-edit.dropdown-toggle:focus { color: var(--primary); }
.btn-primary > .checkmark-off { color: var(--fg-primary-disabled); }
.btn-primary > .checkmark-on { color: var(--fg-primary-green); }
.btn-primary:hover > .checkmark-off, .btn-primary:active > .checkmark-off, .btn-primary:focus > .checkmark-off { color: var(--fg-primary-alt-disabled); }
.btn-primary:hover > .checkmark-on, .btn-primary:active > .checkmark-on, .btn-primary:focus > .checkmark-on { color: var(--fg-primary-alt-green); }
.btn-rating-history:not(:disabled):not(.disabled):focus, .btn-rating-history:not(:disabled):not(.disabled):hover { background-color: var(--primary-alt); color: var(--fg-primary-alt); }
.btn-toggle { color: var(--toggle-icon-primary-off); }
.btn-toggle:hover { color: var(--toggle-icon-primary-on); }
.btn-toggle-on { color: var(--toggle-icon-primary-on); }
.card-login { box-shadow: 0px 2px 3px 0px var(--shadow-primary); }
.card-login > .card-header { color: var(--fg-surface); }
.card-login > .card-header hr { background-image: -webkit-linear-gradient(left,rgba(255, 255, 255, 0),rgba(141, 104, 187),rgba(255, 255, 255, 0)); background-image: -moz-linear-gradient(left,rgba(255,255,255,0),var(--primary-alt),rgba(255,255,255,0)); background-image: -ms-linear-gradient(left,rgba(255,255,255,0),rgba(141, 104, 187),rgba(255,255,255,0)); background-image: -o-linear-gradient(left,rgba(255,255,255,0),rgba(141, 104, 187),rgba(255,255,255,0)); }
.checkmark-off { color: var(--fg-surface-disabled); }
.checkmark-on { color: var(--primary); }
.dropdown-menu > .selected { background: var(--primary); color: var(--fg-surface); }
.edit-rating-date { color: var(--fg)}
.film-dropdown-content { background-color: var(--bg-surface); border-color: var(--border-surface); }
.film-line > .film-title > a { color: var(--fg); }
.footer { border-top-color: var(--footer-border); }
.rating-history, .rating-history:disabled, .btn-rating-history, .btn-group > .btn-rating-history:not(:first-child) { color: var(--fg-surface-muted); }
.rating-star.no-score { color: var(--fg-surface-muted); }
.rating-stars > span, .rating-stars-noclick, .rating-stars > score, .star { color: var(--star); }
.rating-stars > [star-highlight] { color: var(--primary); }
.rating-stars > score > of-possible  { color: var(--fg-surface-muted); }
rating-watched { color: var(--fg-surface-muted); }
rating-watched.watched-on { color: var(--star); }
rating-watched.highlight, rating-watched.watched-on.highlight { color: var(--primary) }
.score-invisible  { color: var(--bg-surface-trans); }
.search-suggestion-item { border-color: var(--border);}
.stream-icon { background-color: transparent; }
.suggestion-icon { color: var(--primary); }
.suggestion-poster { border-color: var(--border); }
.suggestion-rating { color: var(--star); }
.thirdparty-bar > .source-logo-1 > a > imdbScore, .thirdparty-bar > .source-logo-1 > a > tmdbScore { color: var(--fg); }
.thirdparty-bar > .source-logo-2 > a > imdbScore, .thirdparty-bar > .source-logo-2 > a > tmdbScore { color: var(--fg); }
.userlist-film { background-color: var(--bg-surface); border-color: var(--border-surface); }
watchit-btn-container > div > div { background-color: var(--bg-poster-text); color: rgba(120, 120, 120); }

detail-episode { background-color: var(--bg-surface); color: var(--fg-surface-muted); border-color: var(--border-surface); box-shadow: 0 2px 5px var(--shadow-primary); }
detail-episode-rating { color: var(--star); }

:root {
    --bg: #121212;
    --bg-surface: #212121;
    --bg-surface-trans: rgba(33, 33, 33, 0.95);
    --bg-surface-hover: #313131;
    --bg-surface-primary: rgba(44, 32, 60); /* 24% primary */
    --bg-surface-primary-trans: rgba(44, 32, 60, 0.95);
    --primary: rgba(141, 104, 187);
    --primary-alt: rgb(126, 104, 187);
    --bg-secondary: #03dac6;
    --danger: #cf6679;
    --bg-input-text: rgba(56, 56, 56); /* rgba(255, 255, 255, .1) over bg-surface */
    --bg-input-text-active: rgba(141, 104, 187, 0.25); /* primary .25 trans */
    --bg-poster-text: rgba(0, 0, 0, 0.7); /* primary .70 trans */
    
    --fg: rgba(255, 255, 255, 0.87);
    --fg-surface: rgba(255, 255, 255, 0.87);
    --fg-surface-switch: rgba(233, 215, 215);
    --fg-surface-muted: rgba(255, 255, 255, 0.60);
    --fg-surface-muted-more: rgba(255, 255, 255, 0.30);
    --fg-surface-disabled: rgba(255, 255, 255, 0.38);
    --fg-primary: rgba(0, 0, 0, 0.87);
    --fg-primary-disabled: rgba(0, 0, 0, 0.38);
    --fg-primary-green: rgba(0, 168, 0, 0.75);
    --fg-primary-alt: rgba(255, 255, 255, 0.87);
    --fg-primary-alt-disabled: rgba(0, 0, 0, 0.38);
    --fg-primary-alt-green: rgba(0, 168, 0, 0.75);
    --fg-secondary: #000000;
    --fg-danger: #000;
    --fg-input-text: #eeeeee;

    --border: rgba(255, 255, 255, 0.15);
    --border-primary: rgba(91, 54, 137); /* primary - 50 */
    --border-primary-alt: rgba(76, 54, 137); /* primary-alt - 50 */
    --border-danger: rgba(157, 52, 71); /* danger - 50 */
    --border-surface: rgba(255, 255, 255, 0.15);
    --border-surface-input: rgba(255, 255, 255, 0.25);
    --border-surface-primary: rgba(64, 52, 80); /* bg-surface-primary + 20 */

    --shadow: rgba(255, 255, 255, 0.2);
    --shadow-primary: rgba(141, 104, 187, 0.25); /* primary .25 trans */

    --footer: #e5e5e5;
    --footer-border: #777;
    --star: orange;

    --highlight: rgba(76, 54, 137); /* primary-alt - 50 */

    --toggle-icon-primary-off: var(--fg-surface-muted-more);
    --toggle-icon-primary-on: var(--primary);

    background-color: var(--bg);
    color: var(--fg);
}

::selection {
    background: var(--highlight);
}

@media (prefers-color-scheme: disabled) {
    :root {
        --bg: white;
        --bg-surface: #f8f9fa;
        --bg-surface-trans: rgba(192, 192, 192, 0.95);
        --bg-surface-hover: #f1f1f1;
        --bg-surface-primary: rgba(12, 29, 44); /* 24% primary */
        --bg-surface-primary-trans: rgba(12, 29, 44, 0.95);
        --primary: rgba(167, 114, 232);
        --primary-alt: rgb(121, 84, 167);
        --secondary: #f9f9f9;
        --danger: #dc3545;
        --bg-input-text: rgba(255, 255, 255);
        --bg-input-text-active: rgba(235, 235, 235); /* bg-input-text -20 */
        
        --fg: rgb(0, 0, 0, 0.87);
        --fg-surface: rgb(0, 0, 0, 0.87);
        --fg-surface-muted: rgba(0, 0, 0, 0.60);
        --fg-surface-disabled: rgba(0, 0, 0, 0.38);
        /* Using dark mode setting for primary
        --fg-primary: 
        --fg-primary-disabled: 
        */
        --fg-primary-green: rgb(0, 158, 0);
        /* Using dark mode setting for primary
        --fg-primary-alt: 
        --fg-primary-alt-disabled: 
        --fg-primary-alt-green: 
        */
        --fg-secondary: #000000;
        --fg-danger: #fff;
        --fg-input-text: #495057;

        --border: #ccc;
        --border-primary: rgba(107, 34, 152); /* primary - 50 */
        --border-primary-alt: rgba(71, 34, 117); /* primary-alt - 50 */
        --border-danger: #dc3545;
        --border-surface: #e3e3e3;
        --border-surface-input: #e3e3e3;
        --border-surface-primary: rgba(32, 59, 64); /* bg-surface-primary + 20 */

        --shadow: rgba(0, 0, 0, 0.1);
        --shadow-primary: rgba(87, 14, 132, .25); /* primary -80, .25 trans */

        --footer: var(--fg-surface-muted);
        --footer-border: #e5e5e5;
        --star: orange;

        background-color: var(--bg);
        color: var(--fg);
    }
    
    .navbar-toggler-icon { background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"); }
    
    .card-login>.card-header hr{
      background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(141, 104, 187),rgba(0, 0, 0, 0));
      background-image: -moz-linear-gradient(left,rgba(0, 0, 0,0),var(--primary-alt),rgba(0, 0, 0,0));
      background-image: -ms-linear-gradient(left,rgba(0, 0, 0,0),rgba(141, 104, 187),rgba(0, 0, 0,0));
      background-image: -o-linear-gradient(left,rgba(0, 0, 0,0),rgba(141, 104, 187),rgba(0, 0, 0,0));
    }
}