.rating-stars,
.rating-stars-noclick {
    unicode-bidi: bidi-override;
    direction: rtl;
    font-size: 150%;
}
.rating-stars > span,
.rating-stars-noclick {
    color: orange;
}
.rating-stars > span:hover:before,
.rating-stars > span:hover ~ span:before {
    content: "\2605";
    position: absolute;
    color: #0094ff;
}
.rating-stars > score {
    font-weight: bold;
    color: orange;
}
.rating-stars > score > of-possible  {
    font-size: 75%;
    font-weight: lighter;
    color: grey;
}
.rating-star {
    font-size: 125%;
}
.rating-date {
    font-size: 100%;
}

.rating-background {
    background-image: url("/image/gold_circle.png");
}

.film-line {
    font-size: 125%;
}
.film-line > .film-title {
    font-weight: bold;
}

poster {
    float: left;
    padding: 5px;
}

detail {
    float: left;
    vertical-align: middle;
    padding: 15px;
}